@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Permanent Marker", cursive;
}
.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-yellow-gradient {
  background: linear-gradient(to right, #facc15, #f97316);
}

.bg-watchlist {
  background-color: rgba(15, 23, 42, 0.9);
}

.text-yellow {
  color: #facc15;
}

.text-slate {
  color: #64748b;
}

.border-yellow {
  border-color: #facc15;
}

.border-slate {
  border-color: #64748b;
}

.hover-yellow:hover {
  color: #facc15;
}

.hover-bg-yellow:hover {
  background-color: rgba(250, 204, 21, 0.2);
}

/* 3D Flip */
.perspective-1000 {
  perspective: 1000px;
}
.card-wrapper {
  height: 500px;
} /* Fixed height for grid items */

.card-inner {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-inner.is-flipped {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  border-radius: 1.5rem;
}
.card-back {
  transform: rotateY(180deg);
}
